<div class="col-lg-4 col-md-5 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <table style="width: 100%;">
        <tr>
          <td>
            <h3>Statistics</h3>
          </td>
          <td class="text-right">
            <button ng-click="refreshStatistics()" ng-class="refreshStatisticsClass" class="glyphicon glyphicon-refresh btn btn-lg btn-default"></button>
          </td>
        </tr>
      </table>
    </div>
    <table class="table table-statistics">
      <tr>
        <th>Is Running:</th>
        <td>{{isRunning | yesNo}}</td>
      </tr>
      <tr>
        <th>Last Run Date:</th>
        <td>{{statistics.lastRunDate | emptyString}}</td>
      </tr>
      <tr>
        <th>Last Run Duration:</th>
        <td>{{statistics.lastRunDuration | emptyString}}</td>
      </tr>
      <tr>
        <th>Current Run Duration:</th>
        <td>{{statistics.currentRunDuration | emptyString}}</td>
      </tr>
      <tr>
        <th>Seed URL:</th>
        <td>{{statistics.seedUrl | emptyString}}</td>
      </tr>
      <tr>
        <th>Pages viewed:</th>
        <td>{{statistics.pagesViewed}}</td>
      </tr>
      <tr>
        <th>URLs in queue:</th>
        <td>{{statistics.urlsSize}}</td>
      </tr>
    </table>
      <div class="panel-footer">
          </b><span class="text-muted smaller"><b>Last Updated</b>: {{lastUpdated | longToDate}}</span>
      </div>
  </div>
</div>
