body {
    font-size: 12px;
    font-family: "Open Sans", verdans, arial, sans-serif;
}
.table-statistics th {
  text-align: right;
  font-weight: 600;
}

.search-query {
  font-size: 12px;
  font-family: Consolas, monospace;
}

.control-label {
  display: none;
}

.smaller {
  font-size: 10px;
}