<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>archvile</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ArchvileService</servlet-name>
	<servlet-class>com.archvile.web.services.ArchvileService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArchvileService</servlet-name>
    <url-pattern>/archvile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexService</servlet-name>
    <servlet-class>com.archvile.web.services.IndexService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexService</servlet-name>
    <url-pattern>/index/*</url-pattern>
  </servlet-mapping>
</web-app>